body {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  background: #ddd;
  position: sticky;
  top: 0;
}
nav .nav-left {
  font-size: 15px;
  color: orange;
}
nav .nav-left h1 span {
  color: #0a07b4;
  font-size: 40px;
}
nav .nav-center ul {
  display: flex;
  gap: 50px;
}
nav .nav-center ul li {
  list-style-type: none;
}
nav .nav-center ul li a {
  text-decoration: none;
  color: #000000;
}
nav .nav-center a:hover {
  cursor: pointer;
  color: orange;
  border-bottom: 2px solid #0a07b4;
}
nav .nav-right .nav-button {
  display: flex;
}
nav .nav-right .nav-button .button {
  border: none;
  padding: 12px;
}
nav .nav-right .nav-button .button a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
nav .nav-right .nav-button .button-left {
  background-color: orange;
  border-radius: 5px 0 0 5px;
}
nav .nav-right .nav-button .button-right {
  background-color: #0a07b4;
  border-radius: 0 5px 5px 0;
}

@media (max-width: 768px) {
  nav {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    align-items: center;
    background: #ddd;
    position: sticky;
    top: 0;
  }
  nav .nav-left {
    font-size: 15px;
    color: orange;
  }
  nav .nav-left h1 {
    font-size: 20px;
  }
  nav .nav-left h1 span {
    color: #0a07b4;
    font-size: 25px;
  }
  nav .nav-center ul {
    display: flex;
    gap: 15px;
  }
  nav .nav-center ul li {
    list-style-type: none;
  }
  nav .nav-center ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
  }
  nav .nav-right .nav-button {
    display: flex;
  }
  nav .nav-right .nav-button .button {
    border: none;
    padding: 5px;
  }
  nav .nav-right .nav-button .button a {
    text-decoration: none;
    color: white;
    font-size: 10px;
  }
  nav .nav-right .nav-button .button-left {
    background-color: orange;
    border-radius: 5px 0 0 5px;
  }
  nav .nav-right .nav-button .button-right {
    background-color: #0a07b4;
    border-radius: 0 5px 5px 0;
  }
}
@media (max-width: 360px) {
  nav {
    height: 6vh;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    align-items: center;
    background: #ddd;
    position: sticky;
    top: 0;
  }
  nav .nav-left {
    font-size: 15px;
    color: orange;
  }
  nav .nav-left h1 {
    font-size: 10px;
  }
  nav .nav-left h1 span {
    color: #0a07b4;
    font-size: 15px;
  }
  nav .nav-center ul {
    display: flex;
    gap: 8px;
  }
  nav .nav-center ul li {
    list-style-type: none;
  }
  nav .nav-center ul li a {
    text-decoration: none;
    font-size: 8px;
    color: #000000;
  }
  nav .nav-center ul li #about {
    display: none;
  }
  nav .nav-right .nav-button {
    display: flex;
  }
  nav .nav-right .nav-button .button {
    border: none;
    padding: 5px;
  }
  nav .nav-right .nav-button .button a {
    text-decoration: none;
    color: white;
    font-size: 10px;
  }
  nav .nav-right .nav-button .button-left {
    background-color: orange;
    border-radius: 5px 0 0 5px;
  }
  nav .nav-right .nav-button .button-right {
    background-color: #0a07b4;
    border-radius: 0 5px 5px 0;
  }
}
main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50vh;
  background-image: url(../img/main-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
main .main-left .welcome {
  font-size: 30px;
}
main .main-left .welcome-h1 {
  color: white;
}
main .main-left .welcome strong {
  color: orange;
}
main .main-left .welcome strong span {
  color: #0a07b4;
}
main .main-left .button-search {
  display: flex;
  align-items: center;
  width: 100%;
  background: white;
}
main .main-left .button-search .main-search {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
}
main .main-left .button-search .main-icon {
  padding: 10px;
}

@media (max-width: 360px) {
  main {
    width: 100%;
    height: 20vh;
  }
  main .main-left .welcome {
    padding: 20px;
    width: 80%;
  }
  main .main-left .welcome-h1 {
    font-size: 20px;
  }
  main .main-left .button-search {
    display: none;
  }
  main .main-right img {
    width: 150px;
    height: 15vh;
  }
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: #ddd;
  margin: 20px 0 0 0;
}
footer .footer {
  width: 32%;
}

@media (max-width: 360px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    margin: 20px 0 0 0;
  }
  footer .footer {
    width: 90%;
  }
}
body {
  font-family: sans-serif;
}

.bg-img .main-right-button #apply {
  background-color: orange;
  padding: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.bg-img .main-right-button #apply a {
  text-decoration: none;
  color: white;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.container .form-cv {
  width: 99%;
  background: rgba(188, 198, 239, 0.548);
  border: 1px solid #4b4b4b;
}
.container .form-cv .head-cv {
  background: #f5972c;
  display: flex;
  justify-content: space-around;
}
.container .form-cv .head-cv .head-hair {
  display: flex;
  justify-content: center;
  color: white;
}
.container .form-cv .head-cv .detail-title h1 {
  font-size: 50px;
  color: #0a07b4;
  color: white;
}
.container .form-cv .body-cv {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.container .form-cv .body-cv-left {
  display: flex;
  align-items: center;
  width: 65%;
}
.container .form-cv .body-cv-right {
  display: flex;
  justify-content: center;
  width: 35%;
}
.container .form-cv .body-cv-right img {
  border-radius: 50%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.container .form-cv hr {
  margin-left: 10px;
  margin-right: 10px;
}
.container .form-cv .foot-cv {
  display: flex;
}
.container .form-cv .foot-cv-left {
  width: 35%;
  padding: 10px;
}
.container .form-cv .foot-cv-left h3 {
  color: orange;
}
.container .form-cv .foot-cv-right {
  width: 65%;
  padding: 10px;
}
.container .form-cv .foot-cv-right h3 {
  color: orange;
}
.container .form-cv .foot-cv-right h5 {
  color: #0a07b4;
}

#file-upload {
  display: flex;
  justify-content: center;
}

#cv {
  border-bottom: 1px solid black;
}

.choose {
  background: orange;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 360px) {
  .container {
    padding: 5px;
  }
  .rad {
    font-size: 30px;
  }
  .main-left img {
    height: 20vh;
    width: 250px;
  }
  .main-left #apply {
    padding: 4px;
    padding: 5px;
  }
  .main-left #apply a {
    margin: -20px;
  }
  .form-cv {
    width: 100%;
  }
  .body-cv-left {
    width: 70%;
  }
  .body-cv-left p {
    font-size: 10px;
  }
  .body-cv-right img {
    width: 90px;
    height: 12vh;
    border-radius: 50%;
  }
  .foot-cv p, .foot-cv ul {
    font-size: 10px;
  }
}/*# sourceMappingURL=cv.css.map */