body {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  background: #ddd;
  position: sticky;
  top: 0;
}
nav .nav-left {
  font-size: 15px;
  color: orange;
}
nav .nav-left h1 span {
  color: #0a07b4;
  font-size: 40px;
}
nav .nav-center ul {
  display: flex;
  gap: 50px;
}
nav .nav-center ul li {
  list-style-type: none;
}
nav .nav-center ul li a {
  text-decoration: none;
  color: #000000;
}
nav .nav-center a:hover {
  cursor: pointer;
  color: orange;
  border-bottom: 2px solid #0a07b4;
}
nav .nav-right .nav-button {
  display: flex;
}
nav .nav-right .nav-button .button {
  border: none;
  padding: 12px;
}
nav .nav-right .nav-button .button a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
nav .nav-right .nav-button .button-left {
  background-color: orange;
  border-radius: 5px 0 0 5px;
}
nav .nav-right .nav-button .button-right {
  background-color: #0a07b4;
  border-radius: 0 5px 5px 0;
}

@media (max-width: 768px) {
  nav {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    align-items: center;
    background: #ddd;
    position: sticky;
    top: 0;
  }
  nav .nav-left {
    font-size: 15px;
    color: orange;
  }
  nav .nav-left h1 {
    font-size: 20px;
  }
  nav .nav-left h1 span {
    color: #0a07b4;
    font-size: 25px;
  }
  nav .nav-center ul {
    display: flex;
    gap: 15px;
  }
  nav .nav-center ul li {
    list-style-type: none;
  }
  nav .nav-center ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
  }
  nav .nav-right .nav-button {
    display: flex;
  }
  nav .nav-right .nav-button .button {
    border: none;
    padding: 5px;
  }
  nav .nav-right .nav-button .button a {
    text-decoration: none;
    color: white;
    font-size: 10px;
  }
  nav .nav-right .nav-button .button-left {
    background-color: orange;
    border-radius: 5px 0 0 5px;
  }
  nav .nav-right .nav-button .button-right {
    background-color: #0a07b4;
    border-radius: 0 5px 5px 0;
  }
}
@media (max-width: 360px) {
  nav {
    height: 6vh;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    align-items: center;
    background: #ddd;
    position: sticky;
    top: 0;
  }
  nav .nav-left {
    font-size: 15px;
    color: orange;
  }
  nav .nav-left h1 {
    font-size: 10px;
  }
  nav .nav-left h1 span {
    color: #0a07b4;
    font-size: 15px;
  }
  nav .nav-center ul {
    display: flex;
    gap: 8px;
  }
  nav .nav-center ul li {
    list-style-type: none;
  }
  nav .nav-center ul li a {
    text-decoration: none;
    font-size: 8px;
    color: #000000;
  }
  nav .nav-center ul li #about {
    display: none;
  }
  nav .nav-right .nav-button {
    display: flex;
  }
  nav .nav-right .nav-button .button {
    border: none;
    padding: 5px;
  }
  nav .nav-right .nav-button .button a {
    text-decoration: none;
    color: white;
    font-size: 10px;
  }
  nav .nav-right .nav-button .button-left {
    background-color: orange;
    border-radius: 5px 0 0 5px;
  }
  nav .nav-right .nav-button .button-right {
    background-color: #0a07b4;
    border-radius: 0 5px 5px 0;
  }
}
main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50vh;
  background-image: url(../img/main-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
main .main-left .welcome {
  font-size: 30px;
}
main .main-left .welcome-h1 {
  color: white;
}
main .main-left .welcome strong {
  color: orange;
}
main .main-left .welcome strong span {
  color: #0a07b4;
}
main .main-left .button-search {
  display: flex;
  align-items: center;
  width: 100%;
  background: white;
}
main .main-left .button-search .main-search {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
}
main .main-left .button-search .main-icon {
  padding: 10px;
}

@media (max-width: 360px) {
  main {
    width: 100%;
    height: 20vh;
  }
  main .main-left .welcome {
    padding: 20px;
    width: 80%;
  }
  main .main-left .welcome-h1 {
    font-size: 20px;
  }
  main .main-left .button-search {
    display: none;
  }
  main .main-right img {
    width: 150px;
    height: 15vh;
  }
}
.selected-position h1 {
  display: flex;
  justify-content: center;
}

.job-discrition {
  display: flex;
  justify-content: space-around;
  background: #ddd;
  padding: 10px;
}

.job-category,
.location,
.salary {
  width: 32%;
  border-radius: 5px;
}
.job-category h3,
.location h3,
.salary h3 {
  padding-left: 25px;
}
.job-category ul,
.location ul,
.salary ul {
  line-height: 30px;
}

@media (max-width: 360px) {
  .job-discrition {
    display: flex;
    flex-direction: column;
  }
  .job-category,
.location,
.salary {
    width: 100%;
  }
  .feature {
    font-size: 20px;
  }
}
.feature-title h2 {
  display: flex;
  justify-content: center;
}

.company-partner {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.company-partner img {
  background: #ddd;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

@media (max-width: 360px) {
  .selected {
    font-size: 16px;
  }
  .featured-emplyees .company-partner img:nth-child(5),
.featured-emplyees .company-partner img:nth-child(6),
.featured-emplyees .company-partner img:nth-child(7),
.featured-emplyees .company-partner img:nth-child(8) {
    display: none;
  }
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: #ddd;
  margin: 20px 0 0 0;
}
footer .footer {
  width: 32%;
}

@media (max-width: 360px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    margin: 20px 0 0 0;
  }
  footer .footer {
    width: 90%;
  }
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#home {
  border-bottom: 1px solid black;
}/*# sourceMappingURL=style.css.map */