@import '../../global/nav';

@import '../../global/main';

@import '../../global/variable';

@import '../mixin/mixins';

@import '../footer/footer';

body {
    font-family: sans-serif;
}

.bg-img {
    .main-right-button {
        #apply {
            background-color: $button-left;
            padding: $size-15px;
            border: none;
            border-radius: $size-5px;
            box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
            a {
                text-decoration: none;
                color: $color-White;
            }
        }
    }
}


.container {
    padding: $size-20px;
    @include center;

    .form-cv {
        width: 99%;
        background:rgba(188, 198, 239, 0.548);
        border: 1px solid #4b4b4b;

        .head-cv {
            background: #f5972c;
            @include global ;
            .head-hair {
                @include center;
                color: $color-White;
            }

            .detail-title {
                h1 {
                    font-size: 50px;
                    color: $button-right;
                    color: $color-White;
                }
            }

        }
        .body-cv {
            @include global ;

            padding: $size-15px;

            &-left {
                display: flex;
                align-items: center;
                width: 65%;
            }
            &-right {
                @include center ;
                width: 35%;

                img {
                    border-radius: 50%;
                    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
                }
            }
        }

        hr {
            margin-left: $size-10px;
            margin-right: $size-10px;
        }

        .foot-cv {
            display: flex;
            &-left {
                width: 35%;
                padding: $size-10px;

                h3 {
                    color: $button-left;
                }

            }

            &-right {
                width: 65%;
                padding: $size-10px;

                h3
                 {
                    color: $button-left;
                }
                h5{
                    color: $button-right;
                }
            }
        }
    }
}
#file-upload{
    @include center ;
}
#cv{
    border-bottom: 1px solid black;
}
.choose {
    background: $button-left;
    padding: $size-10px;
    border-radius: $size-5px;
}


@media (max-width:360px){
    .container{
        padding: 5px;
    }
    .rad{
        font-size: 30px;
    }
    .main-left{
        img{
            height: 20vh;
            width: 250px;
        }
        #apply{
            padding: 4px;
            a{
                margin: -20px;
            }
            padding: 5px;
        }
    }
    .form-cv{
        width: 100%;
    }
    .body-cv{
        &-left{
            width: 70%;
           p{
            font-size:10px;
            } 
        }
        &-right{
            img{
                width:90px;
                height:12vh;
                border-radius: 50%;
            }
        }   
    }
    .foot-cv{
        p,ul{
            font-size: 10px;
        }
    }

    }
   
